{{define "usertemplate"}}
<div class="row justify-content-center">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>View</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {{range .}}
          <tr>
            <th scope="row">{{.ID}}</th>
            <td>{{.Title}}</td>
            <td>
              <a href="/collections/{{.ID}}">
                View
              </a>
            </td>
            <td>
              <a href="/collections/{{.ID}}/edit">
                Edit
              </a>
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
    <a href="/collections/new" class="btn btn-primary">
      New Gallery
    </a>
  </div>
</div>
{{end}}
