{{define "usertemplate"}}
  <p></p>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1>
        {{.Title}}
      </h1>
      <p></p>
        <div class="row">
          {{range .ImagesSplitN 3}}
            <div class="col-md-4">
              {{range .}}
                <a href="{{.Path}}">
                  <img src="{{.Path}}" class="thumbnail">
                </a>
              {{end}}
            </div>
          {{end}}
        </div>
        <!-- eventually, remove style tags -->
        <style>
          .thumbnail {
            width: 100%;
          }
        </style>
    </div>
  </div>
{{end}}
